<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Montserrat);

</style>

<table width="466" border="0" cellspacing="0" cellpadding="0" style="font-family: Montserrat, Arial, Helvetica, sans-serif;">
<tbody>
  <tr>
    <td width="140" style="border-right:5px solid #007fe6;"><img src="Images/pic.jpg" width="125" height="125" alt=""></td>
    <td width="326"><table  border="0" cellspacing="0" cellpadding="0" style="margin-left:22px;">
      <tr>
        <td style="font-size:14px; color:#007fe6; line-height:25px;">Lucas G&oacute;mez <span style="font-size:12px; color:#333333;"> Developer</span></td>
      </tr>
      <tr>
        <td style="font-size:11px; color:#999999; line-height:18px;">Santiago, Dominican Republic</td>
      </tr>
      <tr>
        <td style="font-size:11px; color:#999999; line-height:20px; padding-top:3px;"><span style="color:#007fe6;">t</span> +1 (809) 581 - 7197  |  <span style="color:#007fe6;">m</span> 809 - 805 - 0502</td>
      </tr>
      <tr>
        <td style="font-size:11px; color:#999999; line-height:18px;">
					<span style="color:#007fe6;">e</span> <a href="#" style="color:#999; text-decoration:none;">lgomez@greatwavetech.com</a> | <span style="color:#007fe6;">w</span> <a href="#"  style="color:#999;  text-decoration:none;">lvkz.github.io</a></td>
      </tr>
      <tr>
        <td valign="bottom" style="padding-top:5px;">
					<a href="https://www.facebook.com/LvKaZ"><img style="padding-right:5px;" src="Images/icon_fb.png" width="18" height="17" alt="" /></a>
          <a href="https://twitter.com/Lvkz"><img style="padding-right:5px;" src="Images/icon_tw.png" width="18" height="17" alt="" /></a>
          <a href="https://www.linkedin.com/in/lucas-gomez/"><img style="padding-right:5px;" src="Images/icon_li.png" width="18" height="17" alt="" /></a>
        </td>
      </tr>
    </table></td>
  </tr>
</tbody>
</table>
